* {
    margin: 0;
}
html {
    scroll-behavior: smooth;
}
/*---------------------------------------------------------------------------*/


/*-------------------------GRID PC-------------------------*/
#indexfnaf body{
    display: grid;
    grid-template-areas: 
        "cab cab cab"
        "sec pri pri"
        "esp pri pri"
        "rod rod rod";
    grid-gap: 5px;
    grid-template-columns: 20% auto auto;
    grid-template-rows: auto auto auto auto;
}
#produtofnaf body {
        display: grid;
        grid-template-areas: 
            "cab cab cab"
            "pri pri pri"
            "rod rod rod";
        grid-gap: 5px;
        grid-template-columns: auto auto auto;
        grid-template-rows: auto auto auto;
}
#cadastrofnaf body {
    display: grid;
        grid-template-areas: 
            "cab cab cab"
            "pri pri pri"
            "rod rod rod";
        grid-gap: 5px;
        grid-template-columns: auto auto auto;
        grid-template-rows: 120px auto auto;
}
#carrinhofnaf body {
    display: grid;
        grid-template-areas: 
            "cab cab cab"
            "pri pri pri"
            "rod rod rod";
        grid-gap: 5px;
        grid-template-columns: auto auto auto;
        grid-template-rows: auto auto auto;
}

.espaso {
    grid-area: esp;
}
header{
    grid-area: cab;
}
.header_mobile{
    grid-area: cam;
}
aside{
    grid-area: sec;
}
main{
    grid-area: pri;
}
footer{
    grid-area: rod;
}
/*-------------------------GRID PC-------------------------*/
/*-------------------------GRID CELULAR-------------------------*/
@media only screen and (max-width: 480px) {
    #indexfnaf body{
        display: grid;
        grid-template-areas: 
            "cam cam cam"
            "sec pri pri"
            "esp pri pri"
            "rod rod rod";
        grid-gap: 5px;
        grid-template-columns: 20% auto auto;
        grid-template-rows: auto auto auto auto;
    }
}
/*-------------------------GRID CELULAR-------------------------*/

/*-------------------------HEADER-------------------------*/
header {
    min-height: 120px;
    position: relative;
    background-color: #92450D;
} /*Esse é o cabeçalho da página.*/

.header_mobile {
    display: none;
}

.logohead {
    position: absolute;
    width: 245px;
    top: 2.5%;
    left: 3%;
}

.navdesk {
    position: absolute;
    top: 50%;
    right: 0px;
    transform: translate(-25%, -50%);
}

.navdesk a {
    font-size: 20px;
    display: block;
    text-decoration: none;
    color: #ffffff;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-right: 5px;
    margin-left: 5px;
    padding: 10px;
}
.navdesk a:hover {
    color: #F8D0B4;
    background-color: #70350A;
    border-radius: 15px;
}
.separacao {
    font-size: 130%;
    color: #70350A;
    display: block;
    margin-top: 15px;
    margin-bottom: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.navdesk ul {
    display: flex;
    list-style: none;
}

header li {
    font-weight: bold;
}

.search-box {
    background: #70350b;
    position: absolute;
    top: 50%;
    left: 45%;
    transform: translate(-50%, -50%);
    height: 40px;
    border-radius: 40px;
    padding: 10px;
}
.search-box input::placeholder {
    font-family: 'REM', sans-serif;
    text-align: center;
    font-weight: bold;
    color: #481f04;
}

.search-btn {
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-txt{
    font-family: 'REM', sans-serif;
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: #ffffff;
    font-size: 16px;
    line-height: 40px;
    width: 400px;
}

.lupa {
    width: 13px;
}
/*-------------------------HEADER-------------------------*/
/*-------------------------HEADER TABLET-------------------------*/
@media only screen and (max-width: 820px) {
    header {
        min-height: 90px;
        position: relative;
        background-color: #92450D;
    } /*Esse é o cabeçalho da página.*/

    .header_mobile {
        display: none;
    }
    
    .logohead {
        position: absolute;
        width: 184px;
        top: 2.5%;
        left: 3%;
    }
    
    .navdesk {
        position: absolute;
        top: 50%;
        right: 0px;
        transform: translate(-0%, -50%);
    }
    
    .navdesk a {
        font-size: 17px;
        display: block;
        text-decoration: none;
        color: #ffffff;
        margin-top: 15px;
        margin-bottom: 15px;
        margin-right: 5px;
        margin-left: 5px;
        padding: 10px;
    }
    .navdesk a:hover {
        color: #F8D0B4;
        background-color: #70350A;
        border-radius: 15px;
    }
    .separacao {
        font-size: 130%;
        color: #70350A;
        display: block;
        margin-top: 15px;
        margin-bottom: 15px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    
    .navdesk ul {
        display: flex;
        list-style: none;
    }
    
    header li {
        font-weight: bold;
    }
    
    .search-box {
        background: #70350b;
        position: absolute;
        top: 50%;
        left: 44.5%;
        transform: translate(-50%, -50%);
        height: 40px;
        border-radius: 40px;
        padding: 10px;
    }
    .search-box input::placeholder {
        font-family: 'REM', sans-serif;
        text-align: center;
        font-weight: bold;
        color: #481f04;
    }
    
    .search-btn {
        float: right;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: #ffffff;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .search-txt{
        font-family: 'REM', sans-serif;
        border: none;
        background: none;
        outline: none;
        float: left;
        padding: 0;
        color: #ffffff;
        font-size: 16px;
        line-height: 40px;
        width: 210px;
    }
    
    .lupa {
        width: 13px;
    }
}

/*-------------------------HEADER TABLET-------------------------*/
/*-------------------------HEADER CELULAR-------------------------*/
@media only screen and (max-width: 480px) {
    * {
        box-sizing: border-box;
    }

    /*header {
        min-height: 90px;
        position: relative;
        background-color: #92450D;
    } /*Esse é o cabeçalho da página.*/
    
    .header_mobile {
        min-height: 90px;
        position: relative;
        background-color: #92450D;
        display: block;
    }

    .logohead {
        position: absolute;
        width: 184px;
        top: 2.5%;
        left: 3%;
    }

    .nav_mobile {
        position: absolute;
        right: 0px;
        top: 20%;
    }

    .nav_mobile ul {
        list-style: none;
        border: pink solid 2px;
        position: absolute;
        top: 50px;
        right: 0px;
        width: 100%;
    }
    .nav_mobile img {
        position: absolute;
        width: 15px;
        border: gray solid 2px;
    }
    
    .nav_mobile input[type="checkbox"]{
         display: none;
    }
    
    .nav_mobile nav {
        border: red solid;
        width: 350px;
        height: 100vh;
        position: absolute;
        right: -400px;
        transition: all 0.3s;
    }
    
    .nav_mobile a {
        border: green solid;
        display: block;
        padding: 20px 5px;
        text-decoration: none;
    }
    
    .nav_mobile label {
        position: absolute;
        z-index: 1;
    }
    .nav_mobile input[type="checkbox"]:checked ~ nav {
        transform: translateX(-350px);
    }

    /*.nav_mobile nav {
        position: absolute;
        top: 50%;
        right: 0px;
        transform: translate(-25%, -50%);
    }
    
    .nav_mobile nav a {
        font-size: 20px;
        display: block;
        text-decoration: none;
        color: #ffffff;
        margin-top: 15px;
        margin-bottom: 15px;
        margin-right: 5px;
        margin-left: 5px;
        padding: 10px;
    }
    .nav_mobile nav a:hover {
        color: #F8D0B4;
        background-color: #70350A;
        border-radius: 15px;
    }
    .separacao {
        font-size: 130%;
        color: #70350A;
        display: block;
        margin-top: 15px;
        margin-bottom: 15px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    
    .nav_mobile ul {
        display: flex;
        list-style: none;
    }
    
    .nav_mobile li {
        font-weight: bold;
    }*/
    /*----------HIDDEN----------*/
    .navdesk {
        display: none;
    }
    .search-box {
        display: none;
    }
    .search-txt {
        display: none;
    }
    .search-btn {
        display: none;
    }
    .lupa {
        display: none;
    }
    /*----------HIDDEN----------*/
}
/*-------------------------HEADER CELULAR-------------------------*/

/*-------------------------HEADER CADASTRO-------------------------*/
#cadastrofnaf .logohead {
    position: absolute;
    width: 245px;
    left: 50%;
    transform: translate(-50%, -0%);
}
/*-------------------------HEADER CADASTRO-------------------------*/



/*-------------------------BODY GERAL-------------------------*/
body {
    background-color: #101010;
    font-family: 'REM', sans-serif;
}
main {
    color: #ffffff;
}
/*-------------------------BODY GERAL-------------------------*/


/*-------------------------BODY INDEX-------------------------*/

/*----------MAIN----------*/
#indexfnaf main {
    text-align: center;
}
#indexfnaf .titulomain {
    margin-top: 4%;
    font-size: 350%;
    font-family: 'Amatic SC', cursive;
    font-weight: bolder;
}

#indexfnaf .elemento_pai {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

#indexfnaf .elemento_pai2 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-bottom: 4%;
}

.card {
    width: 200px;
    height: 300px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card h1 {
    font-size: 25px;
}

.textocard {
    text-align: center;
}

.card img {
    width: 180px;
    height: auto;
    border-radius: 10px;
}

.card button {
    font-family: 'REM', sans-serif;
    color: #ffffff;
    font-size: 15px;
    background-color: #191919;
    border: #202020 solid;
    border-radius: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
    cursor: pointer;
}
/*----------MAIN----------*/
/*----------ASIDE----------*/
#indexfnaf aside {
    margin-top: 20%;
    height: fit-content;
    background-color: #191919;
    border: #202020 dashed;
    color: #ffffff;
    text-align: center;
    border-radius: 20px;
}

#indexfnaf aside a {
    text-decoration: none;
    color: #d6d6d6;
}

.tituloaside {
    font-family: 'Amatic SC', cursive;
    font-size: 230%;
    margin-top: 5%;
}
.tituloaside2 {
    font-family: 'Amatic SC', cursive;
    font-size: 350%;
    margin-bottom: 7px;
    text-shadow:
    3px 3px 15px #f0000055,
    -3px 3px 15px #f0000055,
    -3px -3px 15px #f0000055,
    3px -3px 15px #f0000055;
}

.topicosaside {
    margin-top: 7px;
    margin-bottom: 7px;
    color: #D6D6D6;
}
.topicosaside2 {
    margin-bottom: 50px;
    color: #D6D6D6;
}

#indexfnaf aside img {
    width: 180px;
    height: auto;
    border-radius: 10px;
    box-shadow:
    0px 0px 25px #f000001f,
    -0px 0px 25px #f000001f,
    -0px -0px 25px #f000001f,
    0px -0px 25px #f000001f;
}

.precoind {
    font-size: 220%;
    text-shadow:
    3px 3px 15px #f0000055,
    -3px 3px 15px #f0000055,
    -3px -3px 15px #f0000055,
    3px -3px 15px #f0000055;
    margin-bottom: 7px;
}


#indexfnaf aside button {
    font-family: 'REM', sans-serif;
    color: #ffffff;
    font-size: 15px;
    background-color: #191919;
    border: #202020 solid;
    border-radius: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 5%;
    cursor: pointer;
    box-shadow:
    0px 0px 25px #f000001f,
    -0px 0px 25px #f000001f,
    -0px -0px 25px #f000001f,
    0px -0px 25px #f000001f;
}
/*----------ASIDE----------*/

/*-------------------------BODY INDEX-------------------------*/
/*-------------------------BODY INDEX TABLET-------------------------*/
@media only screen and (max-width: 820px) {
    /*----------MAIN----------*/
    #indexfnaf main {
        text-align: center;
    }
    #indexfnaf .titulomain {
        margin-top: 4%;
        font-size: 350%;
        font-family: 'Amatic SC', cursive;
        font-weight: bolder;
    }

    #indexfnaf .elemento_pai {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    #indexfnaf .elemento_pai2 {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        margin-bottom: 4%;
    }

    .card {
        width: 200px;
        height: 300px;
        margin: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .card h1 {
        font-size: 25px;
    }

    .textocard {
        text-align: center;
    }

    .card img {
        width: 180px;
        height: auto;
        border-radius: 10px;
    }

    .card button {
        font-family: 'REM', sans-serif;
        color: #ffffff;
        font-size: 15px;
        background-color: #191919;
        border: #202020 solid;
        border-radius: 15px;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 15px;
        padding-right: 15px;
        cursor: pointer;
    }
    /*----------MAIN----------*/
    /*----------ASIDE----------*/
    #indexfnaf aside {
        margin-top: 20%;
        height: fit-content;
        background-color: #191919;
        border: #202020 dashed;
        color: #ffffff;
        text-align: center;
        border-radius: 20px;
        }

    #indexfnaf aside a {
        text-decoration: none;
        color: #d6d6d6;
    }

    .tituloaside {
        font-family: 'Amatic SC', cursive;
        font-size: 230%;
        margin-top: 5%;
    }
    .tituloaside2 {
        font-family: 'Amatic SC', cursive;
        font-size: 250%;
        margin-bottom: 7px;
        text-shadow:
        3px 3px 15px #f0000055,
        -3px 3px 15px #f0000055,
        -3px -3px 15px #f0000055,
        3px -3px 15px #f0000055;
    }

    .topicosaside {
        margin-top: 7px;
        margin-bottom: 7px;
        color: #D6D6D6;
    }
    .topicosaside2 {
        margin-bottom: 50px;
        color: #D6D6D6;
    }

    #indexfnaf aside img {
        width: 120px;
        height: auto;
        border-radius: 10px;
        box-shadow:
        0px 0px 25px #f000001f,
        -0px 0px 25px #f000001f,
        -0px -0px 25px #f000001f,
        0px -0px 25px #f000001f;
    }

    .precoind {
        font-size: 170%;
        text-shadow:
        3px 3px 15px #f0000055,
        -3px 3px 15px #f0000055,
        -3px -3px 15px #f0000055,
        3px -3px 15px #f0000055;
        margin-bottom: 7px;
    }

    #indexfnaf aside button {
        font-family: 'REM', sans-serif;
        color: #ffffff;
        font-size: 11px;
        background-color: #191919;
        border: #202020 solid;
        border-radius: 15px;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 15px;
        padding-right: 15px;
        margin-bottom: 5%;
        cursor: pointer;
        box-shadow:
        0px 0px 25px #f000001f,
        -0px 0px 25px #f000001f,
        -0px -0px 25px #f000001f,
        0px -0px 25px #f000001f;
    }
    /*----------ASIDE----------*/
}
/*-------------------------BODY INDEX TABLET-------------------------*/
/*-------------------------BODY INDEX CELULAR-------------------------*/
@media only screen and (max-width: 480px) {
    /*----------MAIN----------*/
    #indexfnaf main {
        text-align: center;
    }
    #indexfnaf .titulomain {
        margin-top: 4%;
        font-size: 350%;
        font-family: 'Amatic SC', cursive;
        font-weight: bolder;
    }

    #indexfnaf .elemento_pai {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    #indexfnaf .elemento_pai2 {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        margin-bottom: 4%;
    }

    .card {
        width: 200px;
        height: 300px;
        margin: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .card h1 {
        font-size: 25px;
    }

    .textocard {
        text-align: center;
    }

    .card img {
        width: 180px;
        height: auto;
        border-radius: 10px;
    }

    .card button {
        font-family: 'REM', sans-serif;
        color: #ffffff;
        font-size: 15px;
        background-color: #191919;
        border: #202020 solid;
        border-radius: 15px;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 15px;
        padding-right: 15px;
        cursor: pointer;
    }
    /*----------MAIN----------*/
}
/*-------------------------BODY INDEX CELULAR-------------------------*/


/*-------------------------BODY PRODUTO-------------------------*/
#produtofnaf main {
    text-align: center;
}

#produtofnaf .elemento_pai {
    width: fit-content;
    margin-right: 4.5%;
    margin-left: 4.5%;
    margin-top: 4%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    /*border: #f00000 solid;*/
}
#produtofnaf .elemento_pai2 {
    width: fit-content;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 0.4%;
    /*border: #f00000 solid;*/
}
#produtofnaf .elemento_pai3 {
    width: fit-content;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 4%;
    /*border: #f00000 solid;*/
}

#produtofnaf .card {
    width: fit-content;
    height: fit-content;
    /*border: #00fff0 solid;*/
}
#produtofnaf .card img {
    width: 300px;
}

.infoladopro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    /*border: #00f000 solid;*/
}
/*.infoladopro p {
    border: #0000f0 solid;
} */

.titulopro {
    font-weight: bold;
    font-size: 170%;
    margin-bottom: 3%;
}

.precopro {
    font-size: 250%;
    margin-bottom: 3%;
}

.descricaopro {
    font-size: 135%;
    margin-bottom: 3%;
}

.estoque {
    color: #d9671c;
}

.especificacoes {
    margin-bottom: 1%;
}

.tituloespec {
    font-size: 135%;
}

.textoespec {
    width: fit-content;
    margin-right: auto;
    margin-left: auto;
    padding: 0px;
    margin-bottom: 4%;
}

.listelement1 {
    width: fit-content;
    margin-bottom: 2%;
}
.listelement2 {
    width: fit-content;
    margin-top: 2%;
    margin-bottom: 2%;
}
.listelement3 {
    width: fit-content;
    margin-top: 2%;
}

#produtofnaf .elemento_pai2 button {
    font-family: 'REM', sans-serif;
    color: #ffffff;
    font-size: 200%;
    background-color: #92450D;
    border: #92450D solid;
    border-radius: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
    cursor: pointer;
}
#produtofnaf button {
    font-family: 'REM', sans-serif;
    color: #ffffff;
    font-size: 200%;
    background-color: #191919;
    border: #202020 solid;
    border-radius: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
    cursor: pointer;
}
/*-------------------------BODY PRODUTO-------------------------*/


/*-------------------------BODY CADASTRO-------------------------*/
.main-login {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-login {
    margin-top: 65%;
    margin-bottom: 65%;
    background-color: #191919;
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 35px;
    border-radius: 20px;
}
.card-login h1 {
    font-size: 300%;
    font-family: 'Amatic SC', cursive;
}

.textfield {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 10px 0px;
}
.textfield input {
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    background-color: #212121;
    color: #ffffff;
    font-size: 12pt;
    outline: none;
    box-sizing: border-box;
}
.textfield label {
    margin-bottom: 10px;
}

.button-login {
    font-family: 'REM', sans-serif;
    background-color: #92450D;
    color: #ffffff;
    font-size: 120%;
    width: 100%;
    padding: 16px 0px;
    margin: 25px;
    border: none;
    border-radius: 8px;
    outline: none;
    font-weight: bold;
    cursor: pointer;
}
/*-------------------------BODY CADASTRO-------------------------*/
/*-------------------------BODY CADASTRO TABLET-------------------------*/
@media only screen and (max-width: 820px) {
    .main-login {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .card-login {
        margin-top: 50%;
        margin-bottom: 50%;
        background-color: #191919;
        width: 300px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 30px 35px;
        border-radius: 20px;
    }
    .card-login h1 {
        font-size: 300%;
        font-family: 'Amatic SC', cursive;
    }
    
    .textfield {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        margin: 10px 0px;
    }
    .textfield input {
        width: 100%;
        border: none;
        border-radius: 10px;
        padding: 15px;
        background-color: #212121;
        color: #ffffff;
        font-size: 12pt;
        outline: none;
        box-sizing: border-box;
    }
    .textfield label {
        margin-bottom: 10px;
    }
    
    .button-login {
        font-family: 'REM', sans-serif;
        background-color: #92450D;
        color: #ffffff;
        font-size: 120%;
        width: 100%;
        padding: 16px 0px;
        margin: 25px;
        border: none;
        border-radius: 8px;
        outline: none;
        font-weight: bold;
        cursor: pointer;
    }
}
/*-------------------------BODY CADASTRO TABLET-------------------------*/


/*-------------------------BODY CARRINHO-------------------------*/
#carrinhofnaf main {
    text-align: center;
}

.titulomaincarrinho {
    font-family: 'Amatic SC', cursive;
    text-align: left;
    font-size: 350%;
    margin-left: 7%;
    margin-top: 4%;
    margin-bottom: 4%;
}

#carrinhofnaf .elemento_pai {
    width: fit-content;
    margin-right: 7%;
    margin-bottom: 4%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-left: 4.5%;
    /*border: #f00000 solid;*/
}

#carrinhofnaf .card {
    width: fit-content;
    height: fit-content;
    /* border: #00fff0 solid; */
}
#carrinhofnaf .card img {
    width: 300px;
}

.infoladocar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* border: #00f000 solid; */
}
/* .infoladocar p {
    border: #0000f0 solid;
} */

.titulocar {
    font-weight: bold;
    font-size: 170%;
    margin-bottom: 3%;
}

.descricaocar {
    font-size: 135%;
    margin-bottom: 3%;
}

.quantidade {
    margin-left: 1%;
}
.quantnum {
    font-weight: bold;
}

#carrinhofnaf button {
    font-family: 'REM', sans-serif;
    color: #ffffff;
    font-size: 140%;
    background-color: #191919;
    border: #202020 solid;
    border-radius: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
    cursor: pointer;
}

#carrinhofnaf .card button {
    margin-top: 3%;
}
/*-------------------------BODY CARRINHO-------------------------*/


/*-------------------------FOOTER-------------------------*/
footer {
    height: auto;
    background-color: #92450D;
    color: #ffffff;
    text-align: center;
    padding: 20px;
}

.um {
    margin-bottom: 5px;
}

.dos {
    font-family: 'Amatic SC', cursive;
    font-size: 200%;
    font-weight: bold;
}

.dos, .tre {
    margin-top: 5px;
    margin-bottom: 5px;
}

.qua {
    margin-top: 5px;
}


/*-------------------------FOOTER-------------------------*/