* {
    margin: 0;
}
/*---------------------------------------------------------------------------*/


/*-------------------------HEADER-------------------------*/
header {
    height: 85px;
    position: relative;
    background-color: #92450D;
} /*Esse é o cabeçalho da página.*/

.logohead {
    position: absolute;
    width: 5.5%;
    top: 6%;
    left: 3%;
}
.logonome {
    position: absolute;
    font-weight: bold;
    font-size: 25px;
    color: #ffffff;
    left: 8.3%;
    top: 35%;
}

nav {
    position: absolute;
    top: 40%;
    right: 3%;
}

nav a {
    text-decoration: none;
    color: #ffffff;
    margin: 15px;
}

nav ul {
    display: flex;
    list-style: none;
}

header li {
    font-weight: bold;
}
header li:hover {
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #71350A;
    border-radius: 8px;
}
/*-------------------------HEADER-------------------------*/


/*-------------------------BODY-------------------------*/
body {
    background-color: #101010;
}
/*-------------------------BODY-------------------------*/